// custom.scss
// All of your custom SCSS variables go first
$light: #f1f1f1;
$dark: #9198a8;
//then bootstrap & bootstrap-vue should be added after 
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
//all other custom scss files or css should be added here
body {
    background-color: rgb(21, 29, 35);
    color: white;
}

@media only screen and (min-width: 1680px) {
    .container {
        max-width: 1600px;
    }
}

.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
}

.img-relative {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    padding-bottom: 100%;
    height: 0;
    position: relative;
    background-color: #343a40;
}

.img-absolute {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
}